@use '../../variables/variables';

.header {
	position: fixed;
	height: variables.$headerHeight;
	width: 100%;
	background-color: #fff;

	&__wrapper {
		display: flex;
		height: 100%;
		justify-content: space-around;
		align-items: center;
	}

	span {
		font-size: 24px;
		font-weight: 600;
	}
}
